footer {
  background-color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: white;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

footer a {
  display: flex;
  align-items: center;
  width: 8.625rem;
  gap: 1rem;
}

footer img {
  max-width: 2rem;
}
