@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --gray: #4f5964;
  --light-gray: #838a93;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 24px;
  margin-bottom: 1.5625rem;
  color: #4f5964;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 0.625rem;
  font-size: 22px;
  color: #4f5964;
}

p {
  font-size: 18px;
  max-width: 70vw;
  color: #4f5964;
}
