@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --gray: #4f5964;
  --light-gray: #838a93;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding: 10rem 0 6.25rem;
}

h1 {
  font-size: 24px;
  margin-bottom: 1.5625rem;
  color: #4f5964;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 0.625rem;
  font-size: 22px;
  color: #4f5964;
}

p {
  font-size: 18px;
  max-width: 70vw;
  color: #4f5964;
}
