header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray);
  padding: 0 2.5rem 0 0.25rem;
  margin-bottom: 3rem;
  position: fixed;
  width: 100vw;
  z-index: 9999;
}

ul {
  display: flex;
  gap: 20px;
}

ul li {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: ease-in;
}

ul a:hover {
  color: #fad138;
}

@media (max-width: 600px) {
  header {
    justify-content: center;
    padding-bottom: 1.25rem;
  }
}
