h1 {
  font-size: 24px;
  margin-bottom: 1.5625rem;
}

h2 {
  margin-bottom: 0.625rem;
  font-size: 22px;
}

p {
  font-size: 18px;
  max-width: 80vw;
}

.div-ball {
  max-width: 100vw;
  position: relative;
  width: 100vw;
  height: 20rem;
  overflow-x: hidden;
}

.div-ball div {
  width: 12.5rem;
  height: 12.5rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/volleyball.png");
  position: absolute;
  top: 20%;
  left: 0;
  transform: translate(-100%, -50%);
  animation: mover 10s ease-in-out infinite;
}

@keyframes mover {
  0% {
    left: calc(100vw + 12.5rem);
    transform: scale(1);
    transform: rotate(360deg);
  }

  50% {
    left: calc(-12.5rem);
    transform: scale(1);
    background-image: url("../assets/volleyball.png");
    transform: rotate(0deg);
  }
  51% {
    transform: scale(-1);
    background-image: url("../assets/basketball.png");
    transform: rotate(0deg);
  }

  99% {
    transform: scale(-1);
  }
  100% {
    left: calc(100vw + 12.5rem);
    transform: rotate(360deg);
    background-image: url("../assets/basketball.png");
  }
}

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.container-benefits {
  max-width: 70vw;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 3rem 0 3rem;
}

.container-benefits p {
  max-width: 30rem;
}

.image-volei,
.image-musculacao,
.image-corrida {
  max-width: 80vw;
  width: 250px;
  height: 250px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.image-volei {
  background-image: url("../assets/volei_home.png");
}

.image-musculacao {
  background-image: url("../assets/musculacao_home.png");
}

.image-corrida {
  background-image: url("../assets/corrida_home.png");
}

@media (max-width: 800px) {
  .div-ball div {
    animation: mover 7s ease-in-out infinite;
  }

  .benefits1,
  .benefits3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-content: center;
  }

  .a-image-volei,
  .a-image-corrida {
    grid-row: 2;
  }
}
